@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Hind:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Maven+Pro:wght@400;500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* highlight color */
::selection {
	background-color: #FF7C6A;
}

body, #overlay {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

body {
	background-color: white;
}

#container {
	background-color: white;
	/* border-radius: 20px; */
	padding: 0 40px;
	/* padding: 0; */
	min-height: 600px;
}

a {
	color: #FF7C6A;
	line-height: 40px;
	transition: 0.2s;
}

a:hover {
	color: #6EE8CC;
	text-decoration: none;
	transition: 0.2s;
}

img {
	width: 100%;
	margin: auto;
}

video {
	width: 20%;
	margin: auto;
}

.btn {
	color: #f7f7f7;
	background-color: #79b7bb;
	border-color: transparent;
	margin: 0 10px 0 10px;
	font-size: 18px;
}

.btn:hover, .btn:focus, .btn:active {
	color: #f7f7f7;
	background-color: #679b9f;
	border-color: none;
}

.noscroll { 
	overflow: hidden;
}

.shadow-effect {
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.523), 0 0px 30px rgba(0, 0, 0, 0.521);
}

#overlay {
	position: fixed;
	overflow-y: scroll;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: visible;
	text-align: center;
}

.icon {
	content: '\f002';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 16px;
	width: 20px;
	height: 20px;
}

#title {
	color: black;
	font-size: 70px;
	margin: 120px 0 60px 0;
}

#navbar {
	width: 100%;
	background-color: white;
}

#navbar-sticky {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	display: none;
	z-index: 30;
}

#nav-items {
	margin: auto;
}

/* navbar spacing */
.nav-item {
	margin: 0px 60px;
	z-index: 10;
}

.navbar a {
	padding: 6px 16px;
	transition: 0s;
}

.navbar.navbar-light .nav-link {
	color: black;
}

.navbar.navbar-light .nav-link:hover, .navbar.navbar-light .nav-link.current {
	color: black;
}

.nav-icon {
	max-width: 30px;
	display: block;
	transition: 0.2s;
}

.navbar-underline {
	border-color: black;
	position: absolute;
	border-bottom: 4px solid transparent;
	width: 0;
	transform: translateX(-60px);
	transition: all .35s ease-in-out;
}

#footer {
	font-size: 1.1rem;
}

#footer a {
	font-size: 1.5rem;
	margin: 6px 3px;
	transition: 0.2s;
}

#footer a:hover {
	transition: 0.2s;
}

.section {
	margin-bottom: 100px;
}

.section-header {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.section img {
	/* max-height: 300px; */
	max-width: 28%;
	margin: 2%;
	border: 1px solid #00000000;
	/* border: 1px solid black; */
	/* opacity: 0; */
	transition: 0.2s;
}

img.visible {
	opacity: 1;
}

.up {
	transform: translate(0, -20px);
}

.down {
	transform: translate(0, 20px);
}

.section img:hover {
	border: 1px solid black;
	box-shadow: -10px 10px 0px 0px #000000;
	transition: 0.2s;
	cursor: pointer;
}

#intro {
	font-size: 24px;
	margin: 70px 70px;
}

#intro p {
	margin-bottom: 26px;
}

.up-arrow {
	position: fixed;
	top: 20px;
	right: 10px;
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 50px;
	opacity: 0;
	transition: 0.2s;
	z-index: 40;
}

.down-arrow {
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 80px;
	animation: float 1.2s infinite;
}

/* for the arrow */
@keyframes float {
	50%{
		transform: translateY(-10%);
	}
}

#animation iframe {
	display: block;
	margin: auto;
	margin-bottom: 60px;
}

#about img {
	margin: 0;
	width: 80%;
	max-width: 80%;
}

#about-text {
	padding-left: 40px;
}

#about-links a {
	font-size: 18px;
	color: black;
	line-height: 32px;
	margin: 0;
	padding: 0;
	display: block;
}

#about-links a:hover {
	color: #FF7C6A;
}

/********************** NAVBAR BUTTON **********************/

#hamburger {
	margin: 10px auto 20px auto;
}

.icon-bar {
	width: 25px;
	height: 2px;
	background-color: black;
	display: block;
	transition: all 0.2s;
	margin-top: 6px;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
	margin-bottom: 6px;
	/*margin-top: -10px;*/
}

button.navbar-toggler {
	border: none;
	margin: auto;
}

.navbar-toggler .top-bar {
	transform: rotate(40deg) translate(3px);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-40deg) translate(3px);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}


@media only screen and (max-width: 600px) {
	#container {
		margin: 50px 20px;
		padding: 40px;
		min-height: 600px;
	}
}


