@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Hind:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Maven+Pro:wght@400;500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* highlight color */
::selection {
	background-color: #FF7C6A;
}

body, .overlay {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

body {
	background-color: white;
	height: 100%;
	width: 100%;
}

.bg-shape {
	position: fixed;
	transition: 0.2s;
	z-index: -1;
}

#container {
	/* background-color: white; */
	padding: 0 40px;
	/* padding: 50px 40px; */
	min-height: 600px;
	z-index: 10;
}

a {
	color: #FF7C6A;
	line-height: 40px;
	transition: 0.2s;
}

a:hover {
	color: #6EE8CC;
	text-decoration: none;
	transition: 0.2s;
}

img {
	width: 100%;
	margin: auto;
}

video {
	width: 20%;
	margin: auto;
}

.btn {
	color: #f7f7f7;
	background-color: #79b7bb;
	border-color: transparent;
	margin: 0 10px 0 10px;
	font-size: 18px;
}

.btn:hover, .btn:focus, .btn:active {
	color: #f7f7f7;
	background-color: #679b9f;
	border-color: none;
}

.noscroll { 
	overflow: hidden;
}

.shadow-effect {
	box-shadow: 0 0px 0px #00000085, 0 0px 30px #00000085;
}

.overlay {
	position: fixed;
	overflow-y: scroll;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: visible;
	text-align: center;
}

.icon {
	content: '\f002';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 16px;
	width: 20px;
	height: 20px;
}

#title {
	color: black;
	font-size: 70px;
	padding: 80px 0 30px 0;
	/* margin: 120px 0 60px 0; */
}

#navbar {
	position: absolute;
	padding-bottom: 0;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.2s;
	z-index: 9;
}

#navbar.navbar-fixed {
	position: fixed;
	top: 0;
	z-index: 30;
}

#nav-items {
	margin: auto;
}

/* navbar spacing */
.nav-item {
	margin: 0px 60px;
	z-index: 10;
}

.navbar a {
	padding: 6px 16px;
	transition: 0s;
}

.navbar.navbar-light .nav-link {
	color: black;
}

.navbar.navbar-light .nav-link:hover, .navbar.navbar-light .nav-link.current {
	color: black;
}

.nav-icon {
	max-width: 20px;
	display: block;
	transition: 0.2s;
}

.navbar-underline {
	border-color: black;
	position: absolute;
	border-bottom: 4px solid transparent;
	width: 0;
	transform: translateX(-60px);
	transition: all .35s ease-in-out;
}

#footer {
	font-size: 1.1rem;
}

#footer a {
	font-size: 1.5rem;
	margin: 6px 3px;
	transition: 0.2s;
}

#footer a:hover {
	transition: 0.2s;
}

.section {
	margin-bottom: 100px;
	z-index: 20;
}

.section-header {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 10px;
	z-index: 20;
}

.image-container {
	/* max-height: 300px; */
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 28%;
	margin: 2%;
	border: 1px solid #00000000;
	/* border: 1px solid black; */
	opacity: 0;
	transition: 0.5s;
	z-index: 20;
}

.image-container:hover {
	border: 1px solid black;
	box-shadow: -10px 10px 0px 0px #000000;
	transition: 0.2s;
	cursor: pointer;
}

.visible {
	opacity: 1;
	transition: 0.5s;
}

.up {
	transform: translate(0, -30px);
}

.placeholder {
	position: relative;
	width: 100%;
	/* filter: blur(10px); */
	transform: scale(1);
}

.artwork {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.2s linear;
}

.artwork.loaded {
	opacity: 1;
	transition: opacity 0.2s linear;
}

.up {
	transform: translate(0, -20px);
}

.down {
	transform: translate(0, 20px);
}

#intro {
	font-size: 24px;
	margin: 140px 70px 70px;
	transition: 0.2s;
}

#intro p {
	margin-bottom: 26px;
}

.up-arrow {
	position: fixed;
	top: 0px;
	right: 10px;
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 50px;
	opacity: 0;
	transition: 0.2s;
	z-index: 31;
	cursor: pointer;
}

.down-arrow {
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 80px;
	animation: float 1.2s infinite;
}

/* for the arrow */
@keyframes float {
	50%{
		transform: translateY(-10%);
	}
}

lite-youtube {
	margin: auto;
	margin-bottom: 40px;
}

lite-youtube::before {
	opacity: 0;
}

.iframe-container {
	width: 60%;
	margin: auto;
	/* opacity: 0; */
	transition: opacity 0.5s;
}

.iframe-wrapper {
	position: relative;
	display: block;
	width: 100%; /* width of iframe wrapper */
	height: 0;
	margin: 20px auto;
	padding: 0% 0% 56.25%; /* 16:9 ratio */
	overflow: hidden;
}

iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

#about img {
	margin: 0;
	width: 80%;
	max-width: 80%;
}

#about-text {
	/* padding-left: 40px; */
}

#about-links a {
	font-size: 18px;
	color: black;
	line-height: 32px;
	margin: 0;
	padding: 0;
	/* display: block; */
}

#about-links a:hover {
	color: #FF7C6A;
}

#about-links div {
	display: inline;
	margin: 0 10px;
}

/********************** NAVBAR BUTTON **********************/

.hamburger.navbar-toggler {
	margin: 10px auto 20px auto;
	z-index: 30;
}

.icon-bar {
	width: 25px;
	height: 2px;
	background-color: black;
	display: block;
	transition: all 0.2s;
	margin-top: 6px;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
	margin-bottom: 6px;
	/*margin-top: -10px;*/
}

button.navbar-toggler {
	border: none;
	margin: auto;
}

.navbar-toggler .top-bar {
	transform: rotate(40deg) translate(3px);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-40deg) translate(3px);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

#overlay {
	position: fixed; 
	overflow-y: scroll;
	z-index: 100;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	padding: 20px;
	color: white;
	background-color: #00000099;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s;
}

#image-overlay-container {
	overflow: hidden;
	backgroundSize: contain;
	background-size:cover; 
	background-position:center; 
	background-repeat:no-repeat; 
}

#image-overlay {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: auto;
	box-shadow: 0 10px 20px #00000053, 0 6px 6px #00000053;
	opacity: 0;
	transition: 0.2s;
}

#overlay-text {
	margin: 10px 120px;
}

#overlay-tip {
	border-radius: 10px;
	border: 1px solid white;
	padding: 6px;
	margin: auto;
	max-width: 500px;
	/* visibility: visible; */
	/* opacity: 1; */
	/* transition: 0.3s ease; */
}

#close-overlay {
	font-size: 40px;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	z-index: 101;
}

/*********** LOADING ICON ***********/

#loading-overlay {
	opacity: 1;
	transition: 0.3s;
}

.loading-icon {
	/* background: pink; */
	display: inline-block;
	position: relative;
	text-align: center;
	margin: auto;
	margin-top: 160px;
	width: 120px;
	height: 100px;
}

.loading-icon div {
	position: absolute;
	top: 23px;
}

.loading-icon .loading-teal {
	background: #8EE5CD;
}

.loading-icon .loading-red {
	background: #ED8270;
}

.loading-icon .loading-blue {
	background: #64A7F8;
}

.loading-icon .loading-yellow {
	background: #FDF394;
}

.gmb-loader {
	font-size: 0;
/*   display: inline-block; */
/*   position: relative; */
	height: 120px;
	width: 120px; 
}
.gmb-loader div {
	background: #56C4B4;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	animation: gmb-bounce 1.75s infinite;
	top: 50%;
	margin-top: -15px; 
}
.gmb-loader div:nth-child(2) {
	animation-delay: 0.25s;
	left: 50%;
	margin-left: -15px; 
}
.gmb-loader div:nth-child(3) {
	animation-delay: 0.5s;
	right: 0; 
}

@keyframes gmb-bounce {
	10% {
		transform: translate3d(0, 30px, 0);
		animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
		height: 30px;
	}
	14% {
		height: 90px;
	}
	15% {
		height: 30px;
		transform: translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
	}
	35% {
		transform: translate3d(0, 0, 0);
	}
}


/*********** MEDIA QUERIES ***********/

@media only screen and (max-width: 600px) {
	#container {
		margin: 50px 10px;
		padding: 10px;
		min-height: 600px;
	}

	#intro {
		margin: 10px;
		font-size: 1.2rem;
	}

	.section-header {
		font-size: 3rem;
	}

	#overlay-text {
		margin: 30px 0 10px 0;
	}

	#close-overlay {
		font-size: 1.3rem;
	}

	.image-container {
		/* max-height: 300px; */
		display: inline-block;
		width: 44%;
		margin: 2%;
		border: 1px solid white;
		/* border: 1px solid black; */
		/* opacity: 0; */
		transition: 0.2s;
	}
	
	.image-container:hover {
		border: 1px solid black;
		box-shadow: -10px 10px 0px 0px black;
		transition: 0.2s;
		cursor: pointer;
	}

	.iframe-container {
		width: 90%;
		margin: auto;
	}
}


